<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Good Sales</title>
</head>
<body>
    <nav>
        <article>
            <img src="/img/sacola-de-compras.jpg" alt= "Sacola de Compras" widht=200>
            </br>
            <h1>Good Sales</h1>
            <h4>O Seu Catálogo Vitual</h4>
        </article>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/criar">Cadastro</a></li>
            <li><a href="/quemsomos">Quem Somos</a></li>
        </ul>
    </nav>
    <% if(message != "") {  %>
        <section id="message">
            <p><%= message %></p> <span id="close">&times;</span>
        </section>
    <% }  %>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    <header>
        <section class="container">        
            <img src="/img/pessoas-fazendo-compras.jpg" alt="" width=500>
            <ul>Good Sales é o seu Catálogo Virtual. 
            Aqui você não perde mais vendas por falta de divulgação do seu produto.
            É simples, fácil e prático!
            Basta enviar seu link para os clientes ou ainda divulgá-lo nas suas redes sociais e pronto!</li>
            Seus clientes terão acesso a todos os seus produtos!</ul>
            </br>
            </br>
            <h2>Good Sales!</h2>

        </section>

       
        
        <% if(loja != null) {  %>
        <section id="inscrever">
            <form action="/editar/<%= loja.id %>" method="POST">
                <div>
                    <label for="loja">Nome da Loja: </label>
                    <input type="text" name="nome" id="loja" placeholder="Digite o nome da loja" value="<%= loja.nome %>">
                </div>

                <div>
                    <label for="categoria">Categoria do produto: </label>
                    <input type="text" name="categoria" id="categoria" placeholder="Digite a categoria do produto comercializado" value="<%= loja.nome %>">
                </div>

                <div>
                    <label for="imagem">Logo da loja</label>
                    <input type="text" name="imagem" id="logo" placeholder="Insira o link do logo da sua loja" value="<%= loja.imagem %>">
                </div>

                <div>
                    <label for="cnpj">CNPJ/CPF da Loja: </label>
                    <input type="text" name="cnpj" id="cnpj" placeholder="Digite o CNPJ/CPF da loja" value="<%= loja.cnpj %>">
                </div>

                <div>
                    <label for="contato">Telefone de contato: </label>
                    <input type="text" name="contato" id="contato" placeholder="Digite o número do telefone para contato com a loja" value="<%= loja.contato %>">
                </div>

                <div>
                    <label for="email">E-mail: </label>
                    <input type="text" name="email" id="email" placeholder="Digite seu melhor email" value="<%= loja.email %>">
                </div>

            
                <button type="submit">Editar</button><br><br><br>
            </form>
        </section>
        <% }  %>
    </header>

      
    <script src="/public/js/script.js"></script>
    </br>
    </br>
    <footer>
        <p>&copy; Todos os direitos reservados. < Good Sales /></p>
    </footer>
</body>
</html>